<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>91871249916-421vuam3ae1f8fgcijcnq3b6p3kfkitb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.91871249916-421vuam3ae1f8fgcijcnq3b6p3kfkitb</string>
	<key>API_KEY</key>
	<string>AIzaSyDOhdAqGVgwij_8Y-Pu3NshVydh8ysSoKw</string>
	<key>GCM_SENDER_ID</key>
	<string>91871249916</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.baseBlocFlutter.dev</string>
	<key>PROJECT_ID</key>
	<string>tso-dev-c8b89</string>
	<key>STORAGE_BUCKET</key>
	<string>tso-dev-c8b89.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:91871249916:ios:d3c398dcf6ea9b4f575e79</string>
</dict>
</plist>